# React Native
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# macOS
.DS_Store

# Android
android/.gradle/
android/app/build/
android/build/
android/gradle/
.gradle/
build/

# iOS
ios/Pods/
ios/build/
ios/.xcode/
*.xcuserstate

# VS Code
.vscode/

# Expo
.expo/
.expo-shared/

# Firebase
firebase-debug.log

# Java
*.class
*.log
*.war
*.jar

# Maven
target/

# Gradle
.gradle/
build/

# IntelliJ
.idea/

# Eclipse
.settings/
.classpath
.project

# Windows
Thumbs.db

# Log files
*.log

# Environment files
.env
